systemverilog/work/work/
systemverilog/rtl/work/
systemverilog/rtl/tran*
systemverilog/work/vsim*
*/*/*/*swp
*/*/*swp
*/*swp
*swp
*/*/*/*swo
*/*/*swo
*/*swo
*swo
*/*/*/*.nfs*
*/*/*.nfs*
*/*.nfs*
*.nfs*
